/* You can add global styles to this file, and also import other style files */

body, html {
    height: calc(100% - 4em);
}

body {
    background: grey;
    color: #fff;
    text-align: center;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3em;
    padding: 2em;
}